<!--<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Templates</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h2 class="text-center">Select your Template</h2>
    <p>Move to template1 <a href="/resume">template1</a></p>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Templates</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link href="/public/template.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="container">
      <h2 class="text-center mt-4">Select your Template</h2>

      <!-- Bootstrap row with three columns -->
      <div class="row mt-5 text-center" class="Timages">
        <!-- First column -->
        <div class="col-md-4">
          <!-- Image 1 -->
          <img src="/public/template1.png" alt="Image 1" class="img-fluid" />
          <p class="template1"><a href="/template1">Template 1 </a></p>
        </div>

        <!-- Second column -->
        <div class="col-md-4">
          <!-- Image 2 -->
          <img src="/public/template2.png" alt="Image 2" class="img-fluid" />
          <p class="template2"><a href="/template2">Template 2</a></p>
        </div>

        <!-- Third column -->
        <div class="col-md-4">
          <!-- Image 3 -->
          <img src="/public/template3.png" alt="Image 3" class="img-fluid" />
          <p class="template3"><a href="/template3">Template 3</a></p>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
